pre{
    line-height:2em;
    background:linear-gradient(180deg,#ccc 0,#ccc 2em,#eee 0);
    background-size:4em 4em;
    background-origin:content-box;
    padding:0 20px;
    text-align:justify;
    font-size: 2em;
}